
/*commonn css*/
.white-text {
    color: white !important;
}


/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* color vari, and.... */
:root {
    --nav-bg-lg-layout: rgba(0 ,0 ,0 , 0.7);
    --nav-bg-sm-layout: rgba(0 ,0 ,0 , 0.8);
}



/*universal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    width: 100vw;
    height: 100%;
    font-size: calc(15px + 0.390625vw);
    overflow-x: hidden;
}

body {
    background-color: rgb(6, 0, 12);
    width: 100%;
    height: 100%;
}


/* Large layout navbar*/

/* navbar --------------------------------------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--nav-bg-lg-layout); 
    color: #fff;
    width: 100vw;
    z-index: 1000;
    
}

nav .navbar {
    height: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}


/* logo brand --------------------------------------------------------*/
nav .navbar .logo-brand a {
    
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}


/* Menu --------------------------------------------------------*/
nav .navbar .nav-links {
    height: 100%;
    line-height: 70px;
}

nav .navbar .nav-links .links{
    display: flex;
}

nav .navbar .nav-links .links li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .nav-links .links li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    height: 100%;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
}



/* Arrow of menu --------------------------------------------------------*/
nav .navbar .nav-links .links li .arrow {
    height: 100%;
    line-height: 70px;
    text-align: center;
    width: 22px;
    transition: all 0.3s ease;
}

nav .navbar .nav-links .links li:hover .branch-arrow{
    transform: rotate(180deg);
}
nav .navbar .nav-links .links li.branch-nguyen-trai:hover .branch-nguyen-trai-arrow{
    transform: rotate(90deg);
}

/* subnav - submenu --------------------------------------------------------*/
nav .navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--nav-bg-lg-layout); 
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 0;
}

nav .navbar .nav-links .links .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid var(--nav-bg-lg-layout);
}

nav .navbar .nav-links .links .sub-menu li a{
    text-transform: capitalize;
    font-size: 15px;
    font: 500;
}

/* arrow of subnav --------------------------------------------------------*/
nav .navbar .nav-links .links .sub-menu li .branch-nguyen-trai-arrow {
    line-height: 40px;
}

/* submenu's submenu :)) --------------------------------------------------------*/
nav .navbar .nav-links .links li:hover .branch-sub-menu,
nav .navbar .nav-links .links .branch-nguyen-trai:hover .branch-nguyen-trai-sub-menu{
    display: block;
}

nav .navbar .nav-links .links .branch-nguyen-trai .branch-nguyen-trai-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    display: none;
}

/* search and account --------------------------------------------------------*/
.navbar .nav-right {
    display: flex;
    justify-content: end;
    position: relative;

}

.navbar .nav-right .account {
    position: absolute;
    right: -50%;
    height: 40px;
    width: 40px;
}

.navbar .nav-right .account i{
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    left: -50%;
}

.navbar .search-box .input-box {
    height: 60px;
    width: 300px;
    position: absolute;
    top: 50px;
    right: calc(100% - 40px);
    border-radius: 6px;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.navbar.showInput .search-box .input-box{
    top: 50px;
    opacity: 1;
    pointer-events: auto;

}



.navbar .search-box .input-box input{
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white ;
    border-radius: 5px;
    color: white;
}


/* hide sidebar at large layout--------------------------------------------------------*/
.navbar .bx-menu,
.nav-links .sidebar-logo-brand .logo-brand-name,
.nav-links .sidebar-logo-brand .exit-sidebar{
    display: none;
}


@media (min-width: 954px) {
    
    nav .navbar{
        position: relative;
        backdrop-filter: blur(10px);
    }
    
    nav .navbar .nav-links .links{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

}


/* medium nav layout --------------------------------------------------------*/
@media (max-width: 954px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }
    

    nav .navbar .logo-brand a {
        font-size: 26px;
    }

    nav .navbar .nav-links .links li {
        padding: 0 10px;
    }
    
    nav .navbar .nav-links .links li a {
        font-size: 15px;
    }

    nav .navbar .nav-links .links .sub-menu{
        background: var(--nav-bg-lg-layout); 
    }


}

/* sm nx layout (sidebar)--------------------------------------------------------*/
@media (max-width: 800px) {

    .navbar{
        background-color: var(--nav-bg-sm-layout);
    }

    /* sidebar nav --------------------------------------------------------*/
    nav .navbar .nav-links {
        display: block;
        position: fixed;
        background-color: var(--nav-bg-sm-layout);
        top: 0;
        left: -100%;
        max-width: 270px;
        width: 100%;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease; 
        backdrop-filter: blur(10px);
        z-index: 2000;
    }

    nav .navbar .logo-brand{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        line-height: 40px;
    }

    /* sidebar logo brand --------------------------------------------------------*/
    .navbar .nav-links .sidebar-logo-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links .sidebar-logo-brand{
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    /* sidebar exit btn --------------------------------------------------------*/
    .nav-links .sidebar-logo-brand .exit-sidebar {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        z-index: 2000;
    }


    /* sidebar menu--------------------------------------------------------*/
    .navbar .bx-menu,
    .nav-links .sidebar-logo-brand .logo-brand-name,
    .nav-links .sidebar-logo-brand .exit-sidebar{
        display: block;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
    }
    


    nav .navbar .nav-links .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .nav-links .links li {
        display: block;
        
    }

    /* sidebar submenu--------------------------------------------------------*/
    nav .navbar .nav-links .links li .sub-menu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
    }

    nav .navbar .nav-links .links li .sub-menu li{
        border-bottom: none;
    }


    /* sidebar submenu's submenu--------------------------------------------------------*/
    nav .navbar .nav-links .links li:hover .branch-sub-menu,
    nav .navbar .nav-links .links li:hover .sub-menu .branch-nguyen-trai-sub-menu{
        display: none;
    }
    

    nav .navbar .nav-links .links li .sub-menu .branch-nguyen-trai-sub-menu{
        display: none;
        position: relative;
        left: 0;
    }

    nav .navbar .nav-links .links li .sub-menu .branch-nguyen-trai-sub-menu li{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .navbar .nav-links.show1 .links .sub-menu.branch-sub-menu{
        display: block;
    }
    nav .navbar .nav-links.show2 .links .branch-nguyen-trai .sub-menu.branch-nguyen-trai-sub-menu{
        display: block;
    }

    /* sidebar all arrow--------------------------------------------------------*/
    nav .navbar .nav-links .links li .arrow {
        line-height: 40px;

    }

    nav .navbar .nav-links .links li:hover .branch-arrow,
    nav .navbar .nav-links .links li.branch-nguyen-trai:hover .branch-nguyen-trai-arrow{
        transform: rotate(0deg);
    }

    nav .navbar .nav-links.show1 .links li:hover .branch-arrow{
        transform: rotate(180deg)
    }
    nav .navbar .nav-links.show2 .links li.branch-nguyen-trai:hover .branch-nguyen-trai-arrow{
        transform: rotate(90deg);
    }

}

/* extra sm */
@media (max-width: 300px){
    nav .navbar .logo-brand a{
        font-size: 15px;
    }

    .navbar .bx-menu,
    .nav-links .sidebar-logo-brand .logo-brand-name,
    .nav-links .sidebar-logo-brand .exit-sidebar{
        font-size: 20px;
        font-weight: 500;
    }

    .navbar .nav-right .account,
    .navbar .search-box {
        width: 27px;

        align-items: center;
    }

    .navbar .nav-right .account i,
    .navbar .search-box i{
        line-height: 40px;
        font-size: 17px;
    }
}





/* carousel styles------------------------- */
/* Main carousel */

.intro-carousel {
    width: 100vw;
    height: 100vh;
    position: relative;

}


.main-slide .item {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main-slide .item video {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
    width: auto;
    z-index: -10;
}

.main-slide .item img {
    display: none;
}

.main-slide .item .slide-movie-text {
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.main-slide .item .slide-movie-text h1,
.main-slide .item .slide-movie-text h6,
.main-slide .item .slide-movie-text p {
    margin-bottom: 0;
}

.main-slide .item .slide-movie-text .movie-name {
    text-transform: capitalize;
    margin-bottom: 4%;
}

.main-slide .item .slide-movie-text .movie-name h1 {
    font-size: 2rem;
    font-weight: 550;
}

.main-slide .item .slide-movie-text .movie-name h6 {
    font-size: 0.9rem;
}

.main-slide .item .slide-movie-text p {
    font-size: 0.8rem;
}

.main-slide .item .slide-movie-text .movie-category {
    margin-bottom: 2%;
}

.main-slide .item .slide-movie-text .movie-category p {
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    background: #0700cd60;
    border-radius: 5px;
}
.main-slide .item .slide-movie-text .movie-time  {
    margin-bottom: 2%;
}

.main-slide .item .slide-movie-text .movie-time p{
    padding-left: 1%;
    padding-right: 1%;
    width: max-content;
    background: #ae00cd60;
    border-radius: 5px;
}

.main-slide .item .slide-movie-text .movie-dir {
    display: block;
    margin-bottom: 2%;
}

.main-slide .item .slide-movie-text .movie-act {
    display: block;
    margin-bottom: 2%;
}

.main-slide .item .slide-movie-text .movie-content {
    margin-bottom: 2%;
}

.main-slide .item .slide-movie-text .movie-restriction {
    margin-bottom: 2%;
}

.main-slide .item .slide-movie-text .movie-rating {
    margin-bottom: 2%;
}



.movie-content {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}


.movie-ticket-booking {
    
    padding: 1% 4%;
    background-image: linear-gradient(45deg, rgb(46, 116, 255), rgb(181, 22, 255), rgb(255, 22, 115));
    border: none;
    border-radius: 0.6rem;
    color: white;
    background-size: 150%;
    transition: 0.3s;
}

.main-slide .item .slide-movie-text .movie-ticket-booking p {
    font-size: 1rem;
}

.movie-ticket-booking:hover {
    transform: scale(1.1);
    background-position: right;
}


/* mask */
.mask{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    z-index: 0;
}


/* Nav-carousel */

.intro-nav-slider {
    width: 48vw;
}


.intro-carousel .intro-nav-slider .intro-nav-slider-container{
    position: relative;
}

.intro-carousel .intro-nav-slider .intro-nav-slider-container .trending-title {
    color: white;
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
}

.intro-carousel .intro-nav-slider .intro-nav-slider-container .trending-title h2 {
    font-size:  1.5rem;
    font-weight: 550;
}




/* Large width  ----------------------------------*/

@media (min-width: 800px) {

    .intro-carousel,
    .main-slide .item {
        max-height: 100vw;
    }

    .center-slider .item img{
        width: 20vw;
        height: 30vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .intro-carousel .intro-nav-slider{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
    }

    .center-slider .slick-slide{
        color: #FFF;
        width: 20vw;
        height: 30vw;
        margin: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
      }
    
      
      .center-slider .slick-slide,
      .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
        transform: scale(0.55, 0.55);
        opacity: 0.5;
        transition: all 0.4s ease-in-out;
      }
      
      /* Active center slide (You can change anything here for cenetr slide)*/
      .center-slider .slick-current.slick-active{
        opacity: 1;
        transform: scale(0.8);
      }
      
    .main-slide .item .slide-movie-text .movie-act,
    .main-slide .item .slide-movie-text .movie-dir{
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }
}



/* Small width  ----------------------------------*/
@media (max-width: 800px) {

    .main-slide .item video {
        display: none;
    }
    
    .main-slide .item img {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        height: 200%;
        width: auto;
        z-index: -10;
    }

    .main-slide .item .slide-movie-text {
        width: 80%;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; /* Center align the text */
    }

    .movie-content {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }
    .main-slide .item .slide-movie-text .movie-dir {
        display: none;
    }
    
    .main-slide .item .slide-movie-text .movie-act {
        display: none;
    }

    .movie-category {
        justify-content: center;
    }
    .movie-category,
    .movie-time {
        display: inline-block; /* Display inline-block to center elements */
        margin: 0 2%; /* Add some margin for spacing */
    }

    .center-slider .item img{
        width: 20vh;
        height: 30vh;
        object-fit: cover;
        border-radius: 15px;
    }

    .intro-nav-slider {
        width: 100vw;
    }

    .intro-carousel .intro-nav-slider{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

    }

    .center-slider .slick-slide{
        color: #FFF;
        width: 20vh;
        height: 30vh;
        margin: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
    }
    
    
    .center-slider .slick-slide,
    .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
        transform: scale(0.6, 0.6);
        opacity: 0.5;
        transition: all 0.4s ease-in-out;
    }
      
    /* Active center slide (You can change anything here for cenetr slide)*/
    .center-slider .slick-current.slick-active{
        opacity: 1;
        transform: scale(0.65);
    }
      
    
}





/* Movie list-------------- */

.main .movie-list-heading {
    font-size: 1.5rem;
    font-weight: 550;
}

.main .movie-list  .movie-card .card {
    
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}

.main .movie-list  .movie-card .card .card-body {
    padding: 10px 0;

}

.main .movie-list  .movie-card .card .movie-img {
    width: 100%;
    padding-bottom: 150%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.main .movie-list  .movie-card .card .movie-img img{
    border-radius: 10px;
    transition: all 0.3s ease;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main .movie-list  .movie-card .card:hover .movie-img img{
    transform: scale(1.1);
}

.main .movie-list  .movie-card .card a{
    text-decoration: none;
    color: white;
}

.main .movie-list  .movie-card .card a .movie-category{
    font-size: 0.6rem;
    font-weight: 600;
    color: rgb(82, 82, 82);
}

.main .movie-list  .movie-card .card a .movie-name {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0;
}

.main .movie-list  .movie-card .card a .movie-rating{
    font-size: 0.9rem;
}

.main .movie-list  .movie-card .card a .bxs-star{
    color: yellow;
}

#comming-soon{
    position: relative;
}

/*--------------------------- Break line ---------------------------------------------- */

.breakline {
    height: 2px;
    background: linear-gradient(90deg, #4d00f475, #f400bb75); ; 
    width: 0; 
    position: absolute; 
    top: -2.5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: width 0.6s; 
}


/* -------------------------------login-signup ----------------------------------------- */

.sign-modal-content {
    margin: auto;
    border: none;
    background-color: transparent;
    height: 90vh;
    overflow: hidden;

}

.sign-modal-body {
    background-color: transparent;
    position: relative;
}

.signin,
.signup {
    color: white;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    background: linear-gradient(45deg, #01ccffd8, #c001ffd8, #ff0059, #ff0059, #c001ffd8, #01ccffd8);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    border-radius: 3%;
    transition: all 1s ease-in-out;
}

.signup {
    left: -55%;
    opacity: 0;

}



@media (min-width: 800px) {
    .signin,
    .signup,
    .sign-modal-content{
        width: 40vw;
        max-width: 450px;
        min-width: 450px;
    }
}


@media (max-width: 800px) {
    .signin,
    .signup,
    .sign-modal-content{
        width: 75vw;
        min-width: 300px;
    }
    
}

.signin::before,
.signup::before {
    content: "";
    position: absolute;
    left: 0.6%;
    top: 0.6%;
    bottom: 0.6%;
    right: 0.6%;
    background-color: rgb(0, 0, 0);
    border-radius: 3%;
    z-index: -1000;
}

.close-sign-form {
    position: absolute;
    top: 2%;
    right: 3%;
    background-color: transparent;
    border: none;
    color: white;

}

.email-pass-acc {
    margin-top: 13%;
}

.email-pass-acc label {
    font-size: 0.85rem;
    margin-top: 4%;
    margin-bottom: 0;
}

.login-form-header,
.signup-form-header {
    font-size: 1.7rem;
    margin-top: 4%;
}

#signin-form,
#signup-form{
    text-align: left;
    width: 80%;
    margin: 5% auto;
}

.input-field {
    position: relative;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.email-sign-input-field,
.password-sign-input-field,
.phone-sign-input-field {
    margin-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 6px;
    translate: all 0.4s;
}

.input-icon {
    font-size: 0.8rem;
    margin-left: 1.5%;
}

#email-sign, #password-sign,
#email-sign-up, #password-sign-up, #phone-sign-up, #password-sign-up-rp{
    position: absolute;
    font-size: 0.7rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 9%;
    background: transparent;
    color: white;
    border: none;
}

#email-sign:focus, #password-sign:focus,
#email-sign-up:focus, #password-sign-up:focus, #phone-sign-up:focus, #password-sign-up-rp:focus {
    outline: none;
}

.show-tog, 
.hide-tog {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
}

#pass-toggle {
    & .show-tog{
        display: block;
    }

    & .hide-tog{
        display: none;
    }
}

#pass-toggle.hide {
    & .show-tog{
        display: none;
    }

    & .hide-tog{
        display: block;
    }
}

#pass-toggle-sn {
    & .show-tog{
        display: block;
    }

    & .hide-tog{
        display: none;
    }
}

#pass-toggle-sn.hide {
    & .show-tog{
        display: none;
    }

    & .hide-tog{
        display: block;
    }
}

#pass-toggle-sn-rp {
    & .show-tog{
        display: block;
    }

    & .hide-tog{
        display: none;
    }
}

#pass-toggle-sn-rp.hide {
    & .show-tog{
        display: none;
    }

    & .hide-tog{
        display: block;
    }
}


.remember-and-forget-log {
    margin-top: 2%;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.forget-log {
    margin-top: 5px;
}

.forget-log a {
    color: white;
    text-decoration: none;
}

label[for="remember"] {
    font-size: 0.7rem;
}

.submit {
    text-align: center;
    width: 100%;
    margin-top: 8%;
}

#login,
#signup {
    color: white;
    width: 100%;
    padding: 3px 0;
    border-radius: 15px;
    border: none;
    background: linear-gradient(50deg, rgb(100, 44, 255), rgb(255, 63, 185), rgb(255, 63, 185), rgb(100, 44, 255));
    background-position: left;
    background-size: 200%;
    transform: scale(0.98);
    transition: 0.3s;

}

#login:hover,
#signup:hover {
    background-position: right;
    transform: scale(1);
}


.sign-with {
    text-align: center;
}

.sign-with-text {
    font-size: 0.8rem;
    margin-top: 9%;
    margin-bottom: 1%;
}

.goo-icon,
.face-icon {
    width: 6%;
    margin: 0 2%;
}

.change-sign-up {
    margin-top: 10%;
    text-align: center;
}

#to-sign-up-link,
#to-login-link {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.forget-log a:hover,
#to-sign-up-link:hover,
#to-login-link:hover {
    color: aqua;
}